/*------------------- Reset -------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.cf:before,
.cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

/*------------------- Defaults -------------------*/

input[type="submit"], button, .button {
	display: inline-block;
	padding: 0.4em 0.6em;
	border: none;
	border-radius: 2px;
	background-color: #A1C160;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #fff;
	cursor: pointer;
	outline: none;
	box-shadow: inset 0 -2px 0 rgba(0,0,0,0.1);
	-webkit-transition: all 250ms;
	transition: all 250ms;
}

input[type="submit"]:not([disabled]):hover, button:hover, .button:hover {
	background-color: #B1D569;
}

input[type=text], textarea {
	display: block;
	width: 100%;
	border: 1px solid #e7e7e7;
	border-bottom-width: 3px;
	padding: 0.2em 0.5em;
	/* box-shadow: inset 0 -2px 0 rgba(0,0,0,0.1); */
	font-size: 1.2em;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	outline: none;
	-webkit-transition: all 250ms;
	transition: all 250ms;
}

input[type=text]:focus, textarea:focus {
	border-color: #C1C1C1;
}

select {
	border: 1px solid #E7E7E7;
	color: #909090;
}


a {
	text-decoration: none;
	color: inherit;
	-webkit-transition: all 250ms;
	transition: all 250ms;
}

img {
	max-width: 100%;
	height: auto;
	-ms-interpolation-mode: bicubic;
}

video {
	display: block;
	margin: 0 auto;
}

p, ul {
	margin-bottom: 1em;
}

ul {
	list-style: inherit;
	padding-left: 1.6em;
}

li {
	margin-bottom: 0.15em;
}

h1, h2, h3, h4, h5, h6 {
	color: #697454;
	font-weight: 300;
}

h1 {

}

h2 {

}

h3 {
	margin-top: 1.9em;
	margin-bottom: 0.3em;
	font-size: 1.3em;
}

h4 {

}

h5 {

}

h6 {

}

.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

strong, b {
	font-weight: 700;
}

/*------------------- Global -------------------*/

noscript {
	color: #fff;
	text-align: center;
}

html, body {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

body {
	background-color: #e1e1e1;
	font-family: 'Open Sans', sans-serif;
	color: #525252;
	line-height: 1.4;
	border-top: 5px solid #a1c160;
}

/*------------------- Page -------------------*/

.page, .wrapper {
	height: 100%;
}

.wrapper {
	position: relative;
	width: 95%;
	max-width: 1200px;
	margin: 0 auto;
}

.page-left {
	position: relative;
	float: left;
	width: 63%;
	height: 100%;
	background-color: #fff;
}

.page-right {
	position: relative;
	float: right;
	width: 36.7%;
	height: 100%;
	background-color: #fff;
	color: #909090;
}

.top-area {
	min-height: 2.2em;
	overflow: hidden;
	background-color: #E1E1E1;
}

.box-padding {
	position: relative;
	z-index: 1;
	padding: 17px;
}

.scroll-box {
	position: absolute;
	overflow-y: auto;
	top: 9%;
	top: calc(9% + -5px);
	height: 87%;
	width: 100%;
}

.page-right .scroll-box {
	top: 3.5%;
	height: 96.5%;
	overflow: visible;
}

/*------------------- Tabs -------------------*/

.tabs {
	color: #B4B4B4;
	font-weight: 300;
}

.tabs .tab-list {
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
}

.tabs .tab {
	display: block;
	float: left;
	margin: 0;
	padding: 0.2em 0.7em;    
	border: 1px solid #DBDBDB;
	border-bottom-width: 2px;
	font-size: 1.1em;
	background-color: #E9E9E9;
	box-shadow: none;
	color: inherit;
	line-height: inherit;
	cursor: pointer;
	-webkit-transition: all 250ms;
	transition: all 250ms;
}

.tabs li.tab {
	
}

.tabs li.tab.active, .tabs li.tab.active:hover {
	border-color: #fff;
	background-color: #fff;
}

.tabs li.tab:hover {
	background-color: #F1F1F1;
}

.tabs button.create-tab {
	border-radius: 0;
}

.tabs button.create-tab:hover {
	border-color: #95B259;
	background-color: #A1C160;
	color: #fff;
}

.tabs .editing .static, .tabs .edit {
	display: none;
}

.tabs .editing .edit {
	display: block;
}

.tabs .tab .text {
	padding: 0;
	font-size: inherit;
	font-weight: inherit;
}

.tabs .tab .text.static {
	cursor: inherit;

}

.tabs .tab .text.edit {
	border: none;
	width: 7em;
	padding: 0 1.6em;
	background-color: #F7F7F7;
}

.tabs .tab form {
	position: relative;
}

.tabs .tab button {
	position: absolute;
	top: 0;
	height: 100%;
	border-radius: 0;
	color: #fff;
	font-size: 0.7em;
	-webkit-transition: all 250ms;
	transition: all 250ms;
}

.tabs .tab .update {
	left: 0;
}

.tabs .tab .delete {
	right: 0;
	background-color: #C34B4B;
}

.tabs .tab .delete:hover {
	background-color: #000;
}


/*------------------- Create Form -------------------*/

form.create-form {
	position: relative;
}

input.create-box {
	padding-right: 2.4em;

}

.create-form .submit {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	font-size: 1.6em;
	padding: 0 0.5em;
	box-shadow: inset 0 -3px 0 rgba(0,0,0,0.1);
	border-radius: 0;
	opacity: 1;
}

.create-form .submit[disabled] {
	opacity: 0.7;
	cursor: default;
}

.tasks-message {
	position: absolute;
	top: 100%;
	width: 100%;
	margin-top: 0.4em;
	font-size: 0.95em;
	color: #B8B8B8;
	font-weight: 300;
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}

/*------------------- Tasks -------------------*/

.task-list {
	z-index: 0;
	margin: 0;
	padding: 0;
	margin-top: 7%;
	list-style: none;
}

.task-list .task {
	display: block;
	position: relative;
	/* overflow: hidden; */
	margin: 0;
	padding: 9px 12px;
	border-bottom: 1px solid #DBDBDB;
	background-color: #fff;
	-webkit-transition: opacity 250ms;
	transition: opacity 250ms;
}

.task-list .task:first-child {
	border-top: 1px solid #DBDBDB;
}


.task-list.filtered-list .task {
	opacity: 0.15 !important;
	/*pointer-events: none;*/
	box-shadow: 0 -1px 0 #DBDBDB;
}

.task-list .task.filtered, .task-list .task.ui-sortable-placeholder {
	opacity: 1 !important;
	/*pointer-events: inherit;*/
}

.hide-unfiltered .task-list.filtered-list .task {
	height: 0;
	padding-top: 0;
	padding-bottom: 0;
	border: none;
	box-shadow: none;
	overflow: hidden;
}

.hide-unfiltered .task-list .task.filtered, .task-list .task.ui-sortable-placeholder {
	height: auto;
	padding: 9px 12px;
	border-bottom: 1px solid #DBDBDB;
}


.task-list .task.ui-sortable-helper {
	opacity: 1 !important;
	box-shadow: 0 2px 20px rgba(0,0,0,0.05);
}

.task-list .task.ui-sortable-placeholder {
	border: 1px dashed #eee;
	background-color: #FCFCFC;
	visibility: visible !important;
}

.task-list .editing .static, .task-list .edit {
	display: none;
}

.task-list .editing .edit {
	display: block;
	position: relative;
}

.task-list .toggle {
	position: absolute;
	z-index: 1;
	width: 1.5em;
	height: 1.5em;
	top: 50%;
	margin-top: -0.75em;
	cursor: pointer;
}

.task-list .toggle:after {
	display: block;
	position: absolute;
	content: "\f00c";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 1px solid #DBDBDB;
	background-color: #fff;
	font: normal normal normal 14px/1 FontAwesome;
	color: #fff;
	text-align: center;
	font-size: 1.35em;
}

.task-list .toggle:hover:after {
	color: #DBDBDB;
	/*border-color: #A1C160;*/
}

.task-list .toggle:checked:after, .task-list .toggle:checked:hover:after {
	color: #A1C160;
}

.task-list .text {
	display: block;
	padding: 3px 0;
	padding-left: 2em;
	font-size: 1.1em;
	color: inherit;
}

.task-list .text.static {
	position: relative;
	z-index: 0;
}

.task-list li.done .text.static {
	opacity: 0.3;
}

.task-list .text.edit {
	border: none;
	box-shadow: inset 0 0 0 1px #E7E7E7, inset 0 -2px 0 #E7E7E7;
	font-weight: 400;
}

.task-list form.edit {
	margin-bottom: 1px;
}

.task-list form button {
	position: absolute;
	top: 0;
	height: 100%;
	border-radius: 0;
	font-weight: 400;
	font-size: 0.9em;
}

.task-list form .update {
	left: 0;
}

.task-list .delete {
	right: 0;
	background-color: #C34B4B;
	color: #fff;
	-webkit-transition: all 250ms;
	transition: all 250ms;
}

.task-list .delete:hover {
	background-color: #000;
}


.task-list .deadline {
	position: absolute;
	top: -6px;
	right: 0;
	min-width: 40%;
	height: 22px;
	padding-top: 6px;
}

.task-list .done .deadline {
	opacity: 0.3;
}

.task-list .deadline:hover, .task-list .done .deadline:hover {
	height: 100%;
	opacity: 1;
}

.task-list .deadline .reveal-box {
	position: relative;
	overflow: hidden;
	max-height: 5px;
	padding: 0;
	text-align: left;
	color: #fff;
	font-weight: 300;
	font-size: 0.8em;
	-webkit-transition: all 250ms;
	transition: all 250ms;
}

.task-list .deadline:hover .reveal-box {
	max-height: 100%;
	padding: 0.3em 0.6em;
	box-shadow: 0 2px 0 rgba(0,0,0,0.1);
}

.task-list .deadline .health-bar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #A1C160;
}

.task-list .deadline .health-bar .bar {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	background-color: #C34B4B;
	-webkit-transition: all 250ms;
	transition: all 250ms;
}

.task-list .done .deadline .health-bar .bar {
	background-color: #A1C160;
}

.task-list .deadline .deadline-text {
	position: relative;
	opacity: 0;
	-webkit-transition: all 250ms;
	transition: all 250ms;
}

.task-list .deadline:hover .deadline-text {
	opacity: 1;
}

.task-list .deadline .till {
	cursor: default;
}

.task-list .deadline .till i {
	float: right;    line-height: inherit;
	font-size: 0.9em;
}

.task-list .deadline .till .full-date {
	float: right;    margin-right: 0.4em;
	font-size: 0.85em;
	opacity: 0.8;
}

.task-list .deadline .remove-deadline {
	padding: 0;
	background-color: transparent;
	box-shadow: none;
	font-size: 0.9em;
}

.task-list .deadline .remove-deadline:hover {
	background-color: #000;
	background-color: rgba(0,0,0,0.1);
}


.task-list .drop-tip {
	display: none;
	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 2px dashed rgba(161, 193, 96, 0.57);
	background-color: #fff;
	background-color: rgba(255,255,255,0.95);
	text-align: center;
	color: #a1c160;
	pointer-events: none;
	-webkit-transition: all 250ms;
	transition: all 250ms;
}

.task-list .drop-target .drop-tip {
	/* Using display instead of opacity to keep things responsive (fast) */
	display: block;
}

.task-list .drop-target .drop-tip-text {
	position: absolute;
	width: 100%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}


/*------------------- Sidebar -------------------*/

.info {
	opacity: 0.6;
	margin-top: 1.1em;
	font-size: 0.8em
}


/*------------------- Toast -------------------*/

.toast {
	position: relative;

}

.toast .toast-box {
	position: absolute;
	top: 0;
	right: 0;
	padding: 4px 9px;
	font-size: 0.95em;
	max-width: 90%;
	background-color: #F4F4F4;
}

.toast .toast-box i {
	/* font-size: 0.7em; */
	vertical-align: middle;
}

.toast .toast-box a {
	color: #7EA136;

}

.toast .toast-box a:hover {
	text-decoration: underline;

}

.toast .toast-box a i {
	font-size: 0.7em;
	-webkit-transition: all 250ms;
	transition: all 250ms;
}

.toast .toast-box a:hover i {
	-webkit-transform: rotate(-180deg);
	transform: rotate(-180deg);
}


h3 i.fa {
	position: relative;
	top: -0.15em;
	font-size: 0.8em;
	opacity: 0.45;
	vertical-align: middle;
}

/*------------------- Filters -------------------*/

.filters {

}

.filters h3 {
	margin-top: 0;
}

.filters label {
	float: left;
	clear: both;
	width: 30%;
	margin-right: 10px;
	font-size: 0.8em;

}

.filters select {
	float: left;
	margin-bottom: 9px;
}

.filters input[type=checkbox] {
	float: left;
}


.deadline-field {

}

/*------------------- Draggable -------------------*/

.draggable {
	cursor: move;
}

.draggable.dragging {
	z-index: 100;
	opacity: 1 !important;
}

/*------------------- Calendar -------------------*/

.calendar {

}

.fc button {
	/* height: auto; */
	opacity: 1;
	padding: 0.2em 0.4em;
	border: 1px solid #ccc;
	background: #F4F4F4;
	font-size: 0.8em;
	border-radius: 1px !important;
	color: #949494;
	font-weight: 400;
	text-shadow: none;
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.04);
}

.fc button:hover {
	background-color: #FFFFFF;
	color: #6C6C6C;
}

.fc-toolbar {
	margin-bottom: 5px;
}

.fc-basic-view .fc-body .fc-row {
	min-height: 3em;
}

.fc-content-skeleton {
	display: none;
}

.fc .fc-row.fc-widget-header {
	padding-bottom: 0.3em;
	border-bottom: 1px solid #E7E7E7;
	font-size: 0.9em;
	color: #C3C3C3;
}

.fc-row .fc-bg,
.fc-day-grid .fc-row {
	z-index: inherit;
}

.fc td, .fc th {
	border: none;
}


.fc-bg td {
	border: none;
}

.fc td.fc-today {
	border: none;
	background: none;
}

.fc .draggable-container {
	position: relative;
	width: 2.5em;
	height: 2.5em;
	margin: 0.75em auto 0;
	text-align: center;
	font-size: 0.8em;
}

.drag-event {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	border-radius: 101px;
	background-color: #FFFFFF;
	border: 1px solid #D0D0D0;
	text-align: center;
	-webkit-transition: border-radius 250ms;
	transition: border-radius 250ms;
}

td.fc-today .drag-event {
	background-color: #EAEAEA;
}

td.fc-other-month .drag-event {
	opacity: 0.5;
}

.drag-event:hover, td.fc-today .drag-event:hover {
	background-color: #A1C160;
	border-color: #A1C160;
	color: #fff;
}

.drag-event.dragging {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	background-color: #A1C160;
	border-color: #A1C160;
	color: #fff;
}

.drag-event .num-container {
	padding-top: 0.5em;
}

.drag-event .date {

}

.drag-event.dragging .date {
	display: none;
}

.drag-event .drop-icon {
	display: none;
}

.drag-event.dragging .drop-icon {
	display: block;
}

.drag-event .full-date {
	position: absolute;
	pointer-events: none;
	z-index: -1;
	opacity: 0;
	bottom: 0;
	left: 50%;
	font-size: 0.8em;
	padding: 0.2em 0.5em;
	background-color: #A1C160;
	color: #FFFFFF;
	border-radius: 50px;
	white-space: nowrap;
	-webkit-transition: all 250ms;
	transition: all 250ms;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.drag-event.dragging .full-date {
	opacity: 1;
	bottom: 100%;
}

.drag-event .triangle {
	display: none;
	position: absolute;
	pointer-events: none;
	bottom: -1px;
	left: 50%;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 1.25em 0 1.25em;
	border-color: transparent white transparent white;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: -1;
	-webkit-transition: all 250ms;
	transition: all 250ms;
}

.drag-event.dragging .triangle {
	border-top-width: 1em;
	border-top-color: #A1C160;
}


/*------------------- Tags -------------------*/

.tags-field {

}

.tag-list {

}