<!DOCTYPE html>
<!--

By John Evans
www.johnevans.co

Tested in Chrome

-->
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Task Manager</title>

	<link rel="shortcut icon" href="favicon.ico" />

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="vendor/font-awesome/css/font-awesome.min.css" />
	
	<link rel="stylesheet" type="text/css" href="vendor/fullcalendar.min.css" />

	<link rel="stylesheet" type="text/css" href="css/style.css" />


	<script type="text/javascript" src="vendor/modernizr.min.js"></script>

	<script type="text/javascript" src="vendor/jquery.min.js"></script>
	<script type="text/javascript" src="vendor/jquery-ui.min.js"></script>

	<script type="text/javascript" src="vendor/underscore-min.js"></script>
	<script type="text/javascript" src="vendor/backbone-min.js"></script>
	<script type="text/javascript" src="vendor/backbone.localStorage-min.js"></script>

	<script type="text/javascript" src="vendor/velocity.min.js"></script>
	<script type="text/javascript" src="vendor/velocity.ui.min.js"></script>

	<script type="text/javascript" src="vendor/moment.min.js"></script>
	<script type="text/javascript" src="vendor/fullcalendar.min.js"></script>

	<script type="text/javascript" src="vendor/interact.min.js"></script>

</head>
<body>
	<div class="page">
		<div class="wrapper cf">
			<div class="page-left">
				<div class="tabs top-area cf">
					<ul class="tab-list cf">
						
					</ul>
					<button class="tab create-tab">+</button>
				</div>

				<div class="tasks">
					<div class="box-padding">
						<form class="create-form">
							<input type="text" class="create-box" placeholder="Create or search" />
							<input type="submit" class="submit" value="+" disabled>
							<div class="speech-spinner">
								<i class="fa fa-spinner fa-pulse"></i>
							</div>
							<div class="tasks-message"></div>
						</form>
					</div>

				</div>
					
				<ul class="task-list scroll-box"></ul>
			</div>

			<div class="page-right">
				<div class="top-area toast">
					<div class="toast-box">
						Toast
					</div>
				</div>

				<div class="box-padding scroll-box">

					<div class="filters cf">
						<h3><i class="fa fa-filter"></i> Filters</h3>
						<label for="status" class="filter">Status</label>
						<select id="status" name="status" class="filter-status">
							<option value="0">All</option>
							<option value="1">Uncompleted</option>
							<option value="2">Completed</option>
						</select>

						<label for="deadline" class="filter">Deadline</label>
						<select id="deadline" name="deadline" class="filter-deadline">
							<option value="0">All</option>
							<option value="1">All future</option>
							<option value="2">Today only</option>
							<option value="3">This week only</option>
							<option value="4">This month only</option>
							<option value="5">Passed</option>
							<option value="6">None</option>
						</select>

						<label for="unfiltered" class="filter" title="Show tasks that have been filtered out, but in a shaded form">Show filtered out</label>
						<input type="checkbox" id="unfiltered" checked />
					</div>

					<div class="deadline-field">
						<h3><i class="fa fa-calendar"></i> Deadline</h3>
						<div class="calendar"></div>
						<div class="info">
							<i class="fa fa-reply"></i> Drag and drop a date onto a task to create a deadline
						</div>
					</div>

					<div class="tags-field">
						<h3><i class="fa fa-tag"></i> Tags</h3>
						<ul class="tag-list">
						</ul>
						<button class="new-tag cf">
							<div class="tag-circle-container">
								<div class="tag-circle">
									<div class="plus">+</div>
								</div>
							</div>
							<div class="tag-name-container">New tag</div>
						</button>
					</div>

					<div class="speech-field">
						<h3><i class="fa fa-microphone"></i> Speech Input</h3>
						<div class="speech-feedback"></div>
						<p><button class="toggle-speech">Enable speech input</button></p>
						<div class="info">
							<p>Say "New task" to create a task</p>
							<p>Works best in a quiet environment</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<div id="templates">

		<script type="text/template" id="task-template">

			<input class="toggle static" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
			<label class="static text"><%- text %></label>

			<% if (typeof(deadlineData) != 'undefined') { %>
				<div class="deadline static">
					<div class="reveal-box">
						<div class="health-bar">
							<div class="bar" style="width: <%- deadlineData.barWidth %>%;"></div>
						</div>
						<div class="deadline-text">
							<div class="till">
								<i class="fa fa-calendar"></i> <%- deadlineData.till %>
								<span class="full-date">
									<%- deadlineData.fullDate2 %>
								</span>
							</div>
							<button class="remove-deadline"><i class="fa fa-times"></i> Remove deadline</button>
						</div>
					</div>
				</div>
			<% } %>
			
			<form action="" class="edit cf">
				<input class="text edit" type="text" value="<%- text %>" />
				<button type="submit" class="update" title="Update"><i class="fa fa-floppy-o"></i></button>
				<button class="delete" title="Delete"><i class="fa fa-trash-o"></i></button>
			</form>

			<div class="drop-tip"><div class="drop-tip-text"></div></div>

		</script>

		<script type="text/template" id="tab-template">
			<label class="static text"><%- text %></label>
			
			<form action="" class="edit cf">
				<input class="text edit" type="text" value="<%- text %>" />
				<button type="submit" class="update" title="Update"><i class="fa fa-floppy-o"></i></button>
				<button class="delete" title="Delete"><i class="fa fa-trash-o"></i></button>
			</form>
		</script>

		<script type="text/template" id="date-template">
			<div class="draggable-container">
				<div class="drag-event draggable" data-drop-type="date" data-drop-value="<%- dateFormat %>" title="<%- fullDate %>">
					<div class="num-container">
						<div class="date"><%- day %></div>
						<div class="drop-icon"><i class="fa fa-plus-circle"></i></div>
						<div class="full-date"><%- fullDate %></div>
					</div>
					<div class="triangle"></div>
				</div>
			</div>
		</script>

		<script type="text/template" id="tag-template">

			<div class="static">
				<div class="tag-circle-container">
					<div class="draggable-container">
						<div class="drag-tag tag-circle draggable" data-drop-type="tag" data-drop-value="<%- id %>" style="background-color: #<%- colour %> ;">
							<div class="tag-name"><%- name %></div>
						</div>
					</div>
				</div>
				<div class="tag-name-container">
					<label class="name"><%- name %></label>
				</div>
			</div>

			<form action="" class="edit cf">
				<div class="tag-circle-container">
					<div class="tag-circle" style="background-color: #<%- colour %> ;"></div>
				</div>
				<div class="tag-name-container">
					<input class="name edit" type="text" value="<%- name %>" />
					<button type="submit" class="update" title="Update"><i class="fa fa-floppy-o"></i></button>
					<button class="delete" title="Delete"><i class="fa fa-trash-o"></i></button>
				</div>
			</form>

		</script>

	</div>

	<script type="text/javascript" src="js/main.js"></script>

	<noscript>JavaScript needs to be enabled to view the content of this page.</noscript>
</body>
</html>